@import "fontawesome/less/fontawesome.less";
@import "fontawesome/less/fa-solid.less";

li > {
    a {
        display: block;
        color: gray;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

nav.primary {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        &.navigation {
            display: flex;
            padding: 0;
            margin: 0;
            background-color: #eee;

            > li {
                &.logout {
                    margin-left: auto;
                }

                ul {
                    opacity: 0;
                    background-color: #eee;
                    position: absolute;
                    width: 200px;
                    top: 0;
                    left: 200px;
                    box-shadow: 1px 2px 3px #666;
                    transition: opacity 200ms ease-out 150ms;
                }

                > ul {
                    top: auto;
                    left: auto;
                }

                > a {
                    line-height: 40px;
                }
            }
        }

        li {
            position: relative;

            &:hover {
                background-color: rgba(180, 180, 180, .5);

                > ul {
                    opacity: 1;
                }

                > a {
                    color: #fff;
                }
            }

            &.parent > a::after {
                content: "\f105";
                float: right;
                font-family: 'FontAwesome';
                margin-left: 10px;
            }
        }

        a {
            display: block;
            padding: 0 10px;
            line-height: 30px;
            text-decoration: none;
            color: inherit;
        }
    }
}

ul.categories {
    display: flex;
    list-style: none;
    padding: 0;

    > li {
        padding: 10px;
        width: 200px;
        height: 100px;
        background-color: #eee;
    }
}

ul.links {
    > li {
        line-height: 1.5rem;
    }
}
