:root {
    --image-width: 120px;
    --image-height: 120px;
}
img {
    display: block;
    width: 100%;
    height: 100%;
}

.container div {
    color: #ccc;
    // padding: 10px;
    ul.images li {
        &:nth-child(odd) {
            background-color: #ccc;
        }

        &:nth-child(even) {
            background-color: #aaa;
        }
    }
}

.container {
    // override variable values
    --image-width: 80px;
    --image-height: 80px;

    ul.images {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(var(--image-width), 1fr));
        grid-auto-rows: var(--image-height);
        grid-auto-flow: dense;

        li {
            overflow: hidden;

            img {
                // display: none;
            }
            background: #ccc;

            &.small {
                // default square
            }

            &.big {
                grid-column: span 2;
                grid-row: span 2;
            }

            &.wide2 {
                grid-column: span 2;
            }

            &.wide3 {
                grid-column: span 3;
            }

            &.wide4 {
                grid-column: span 4;
            }

            &.tall {
                grid-row: span 2;
            }
        }
    }
}
